<div class="container">
    <h1>Kilometers</h1>
    <input type="number" placeholder="Enter value in KM" [(ngModel)]="km" />
    <button type="button" (click)="converter()"> Calculate </button>
    <!-- <p>{{km}} Kilometer is Equal to {{miles}} miles</p> -->

    <h1>Miles</h1>
    <input type="number" placeholder="Enter value in Miles" [(ngModel)]="miles" />
    <button type="button" (click)="converter2()"> Calculate </button>
    <!-- <p>{{miles}}Miles is Equal to {{km}} Kilometer</p> -->
</div>