.container {
    background-image: url("https://www.shutterstock.com/image-photo/night-scene-city-car-trail-600w-2199310445.jpg");
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    cursor: pointer;
    background: #f45c41;
    border: 0;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    height: 40px;
    margin-bottom: 10px;
    text-align: center;
    min-width: 120px;
    margin-left: 43%;
    margin-top: 5px;
}

input {
    border-radius: 10px;
    box-shadow: 5px 5px 20px #cbcdd3;
    color: #333;
    font-size: 16px;
    height: 40px;
    text-align: center;
    display: flex;
    margin-left: 40%;
    border: 0;
}

h1 {
    text-align: center;
    color: #d9d1cf;
}