<div class="container">
    <div>
        <br>
        <p>What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
            make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic
            typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
            containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
            versions
            of Lorem Ipsum.
            <br>
            Why do we use it?
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at
            its layout.
        </p>
    </div>
    <mat-card class="example-card" style="float: right; margin: 30px 100px 0 0; background-color: #fe9364;">

        <mat-card-content>

            <a mat-list-item routerLink="/age-calculator" routerLinkActive="active">Age Calculator</a>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to
                make</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card" style="margin:30px 0 0 100px ;background-color: #06c384;">
        <mat-card-content>

            <a mat-list-item routerLink="/rent-calculator" routerLinkActive="active">Rent Calculator</a>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to
                make</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card" style="float: right; margin: 30px 100px 0 0;background-color: #fc5c6e;">

        <mat-card-content>

            <a mat-list-item routerLink="/km-mile" routerLinkActive="active">Kilometers to Miles</a>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to
                make</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card" style="margin:30px 0 0 100px ;background-color: #00aaae;">
        <mat-card-content>

            <a mat-list-item routerLink="/crud" routerLinkActive="active">CRUD Operations</a>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to
                make</p>
        </mat-card-content>
    </mat-card>
</div>